.marginTop{
    margin-top: -50px;
    background:linear-gradient(0deg, rgba(245, 245, 245, 0.94), rgba(245, 245, 245, 0.94)), url('https://i.ibb.co/NZ1v1J9/3ffc351ed207930db4ebdcf84da22add.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.containerBox{
    border-bottom: 1px solid black;
}