.chart{
    margin: 20px 10px!important;
    padding: 20px ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;

}

.chartTitle{
    margin-bottom: 20px;
    font-weight: 500;
}