.text-justify{
    text-align: justify;
    font-size: 15px;
    padding-top: 5px;
}

.text-title:hover{
    color: tomato;

}


.card-container:hover .text-title{
    color: tomato;

}

.icon-background{
    color: turquoise;
    transition: transform 0.5s;
}
.text-background{
    color: rgb(6, 240, 217);
    
}
.icon-background:hover{
    transform: rotate(180deg);
}

.read-more:hover > .icon-background {
    transform: rotate(180deg);
}

.img-text-bg{
    background-color: rgb(232, 99, 38);
}

.image-box{
    overflow: hidden;
}