.text-justify{
    text-align: justify;
    font-size: 15px;
    padding-top: 5px;
}

.text-title:hover{
    color: tomato;

}


.card-container:hover .text-title{
    color: tomato;

}

.icon-background{
    color: turquoise;
    transition: transform 0.5s;
}
.text-background{
    color: rgb(6, 240, 217);
    
}
.icon-background:hover{
    transform: rotate(180deg);
}

.read-more:hover > .icon-background {
    transform: rotate(180deg);
}

.img-text-bg{
    background-color: rgb(232, 99, 38);
}

.image-box{
    overflow: hidden;
}

.discountProduct{
    position:absolute;
    top:15px;
    right:15px;
    background-color:rgb(238, 43, 43);
    width: 60px;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 1px;
    border-radius: 0;

}