.navbar {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  /* margin-top: -60px; */
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  color:#0b1136;
 
}

.navbar-hidebg{
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  /* margin-top: -60px; */
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #fff!important;

}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  padding-bottom: 5px;

}

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 2;

}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #111111;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.login-cursor{
  cursor: pointer;
}
.login-cursor:hover{
  color: #40E0D0!important;

}

.logoutName{
   display: flex;
   
}

.title-color{
    color: #e62222;
}

.logo-size{
  width: 40px;
  margin-left: 20px;
  margin-right:10px;
}
.text-color-second{
  color:#03035ed0;
}

.cartCursor{
  position: relative;
  cursor: pointer;
  color: rgb(255, 102, 0) !important;
}

.cartCursor:hover{
  color: rgb(0, 238, 255) !important;
}

.notification{
  background-color: rgb(1, 208, 255);
  color: white;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 10px;
  font-weight: 500;
  width: 15px;
  text-align: center;
  border-radius: 50%;
}