
/* .marginTop{
    margin-top: 50px;
} */

.rotate{
    position: absolute;
    transform: rotate(270deg);
    padding-top: 19%;
    margin-left: -8%;
    font-size: 2.4rem;
}

.text-size{
    font-size: 3.9rem;

}

/* new css for banner */
.home {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  background: url('https://i.ibb.co/H7byv2F/slide4-1.jpg') no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  position: relative;
  animation: animatedBackground 10s linear infinite alternate;

}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.home .content h3 span {
  color: #e62222;
}

.home .content .btn {
  color: #fff;
  border-color: #fff;
  font-weight: 500;
  
}

.home .content .btn:hover {
  color: #130f40!important;
  background: #fff;
}


.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

.Btext-color{
  color: #222229d5!important;
}






.icon-background{
  color: #130f40;
  transition: transform 0.5s;
}

.icon-background:hover{
  transform: rotate(180deg);
  color:#e67e22;
}

.read-more:hover > .icon-background{
  transform: rotate(180deg);
  color:#e67e22;
}
.image-size{
  width: 90%!important;
}

/* animation background */
@keyframes animatedBackground {
  from {
    background-position: 0 0;

  }
  to {
    background-position: 0% 100%;

  }
}

@media (max-width: 991px) {

.home {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right;

}
.home .content {
    text-align: center;
    padding-bottom: 5rem;
}
.home .content h3 {
    font-size: 3rem;
}
}

