
/* .marginTop{
    margin-top: 50px;
} */

.rotate{
    position: absolute;
    transform: rotate(270deg);
    padding-top: 19%;
    margin-left: -8%;
    font-size: 2.4rem;
}

.text-size{
    font-size: 3.9rem;

}

/* new css for banner */
.home {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  background: url('https://i.ibb.co/H7byv2F/slide4-1.jpg') no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  position: relative;
  animation: animatedBackground 10s linear infinite alternate;

}

.home_blog {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: url('https://i.swncdn.com/media/800w/via/15678-two-sets-hands-throwing-clay-pot-on-pottery-w.jpg') no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  position: relative;
  animation: animatedBackground 60s linear infinite alternate;

}

.content {
  width: 50rem;
}

.content h3 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.content h3 span {
  color: #e62222;
}

.content .btn {
  color: #fff;
  border-color: #fff;
  font-weight: 500;
  
}

.content .btn:hover {
  color: #130f40!important;
  background: #fff;
}

.barBoxDesign{
  background-color: #1a1a1fd5!important;
}

.Btext-color{
  color: #222229d5!important;
}

.btn-design{
  color: white !important;
  background-color: rgb(220, 24, 24);
}

.barDesign{
  color: rgb(220, 24, 24)!important;
  margin-top: -15px;
  padding-right: 5px;

}


.icon-background{
  color: #130f40;
  transition: transform 0.5s;
}

.icon-background:hover{
  transform: rotate(180deg);
  color:#e67e22;
}

.read-more:hover > .icon-background{
  transform: rotate(180deg);
  color:#e67e22;
}
.image-size{
  width: 90%!important;
}

/* animation background */
@keyframes animatedBackground {
  from {
    background-position: 0 0;

  }
  to {
    background-position: 0% 100%;

  }
}

@media (max-width: 991px) {

.home {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right;

}
.content {
    text-align: center;
    padding-bottom: 5rem;
}
.content h3 {
    font-size: 3rem;
}
}

