.latestTransactions{
    margin: 0px 10px!important;;
    padding: 30px!important; ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
    height:100%;
    background-color:#f8f8f8;
   
}


.widgetLgTable{
    width: 100% !important;
    border-spacing: 20px;
}

.widgetLgTh{
    text-align: left;
    padding-bottom: 15px!important;
    padding-top: 17px!important;
    
}


.widgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    width: 90px;
}

.widgetLgButton.Approved{
    background-color:#e5faf2;
    color: #3bb077;
}
.widgetLgButton.Declined{
    background-color:#fff0f1;
     color: #d95087;
}
.widgetLgButton.Pending{
    background-color:#ebf1fe;
     color: #2a7ade;
}