.transactions{
    padding: 30px!important;
}

.dltBtn{
    background-color:rgb(213, 0, 0);
    color: white;
    border: 1px solid rgb(213, 0, 0);
    border-radius: 32%!important;
}

.dltMute{
    background-color:rgba(49, 46, 46, 0.891);
    color: white;
    border-radius: 32%!important;
}

.dltMute:hover{
    background-color:rgba(49, 46, 46, 0.891);
    color: white;
    border-radius: 32%!important;
}

.dltMute:focus{
    box-shadow: none!important;
}

.dltBtn:focus{
    box-shadow: none!important;
}

.dltBtn:hover{
    background-color: white;
    color: rgb(213, 0, 0);
    border: 1px solid rgb(213, 0, 0);
}

.checkBtn{
    background-color:rgb(0, 213, 167);
    color: white;
    border: 1px solid rgb(0, 213, 167);
    border-radius: 32%!important;
}

.checkBtn:hover{
    background-color: white;
    color: rgb(0, 213, 167);
    border: 1px solid rgb(0, 213, 167);
}

.myOderImg{
    width: 40px;
    height: 40px;
    border-radius:20%;
    object-fit: cover;
}

